.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  /* BG COLORS */
  --primary-bg-cl: #2e2f42;
  --secondary-bg-cl: #f4f4fd;
  --team-bg-cl: #ffffff;
  --button-bg-cl: #4d5ae5;
  --active-txt-cl: #404bbf;
  /* TXT COLORS */
  --primary-txt-cl: #2e2f42;
  --secondary-txt-cl: #434455;
  --logo-txt-cl: #4d5ae5;
  --second-logo-txt-color: #f4f4fd;
  --footer-txt-cl: #e7e9fc;
  --hero-txt-cl: #ffffff;
  --hover-button-cl: #404bbf;
}
/* NAV */
.logo-style {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-design {
  color: var(--logo-txt-cl);
}
.address {
  line-height: calc(24 / 16);
  color: var(--secondary-txt-cl);
}
.header-link:hover,
.header-link:focus {
  color: var(--active-txt-cl);
  cursor: pointer;
}
.header-link.current {
  color: var(--active-txt-cl);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-txt-cl);
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
  color: var(--primary-txt-cl);
}
.header-nav {
  font-weight: 500;
  line-height: calc(24 / 16);
}
.address {
  font-style: normal;
  color: var(--secondary-txt-cl);
}
.address:hover,
.address:focus {
  color: var(--active-txt-cl);
  cursor: pointer;
}
.hero {
  color: var(--hero-txt-cl);
  background-color: var(--primary-bg-cl);
}
.h-title {
  line-height: calc(60 / 56);
  font-size: 56px;
  text-align: center;
}
.button {
  background-color: var(--button-bg-cl);
  color: var(--hero-txt-cl);
  font-weight: 500;
  line-height: calc(24 / 16);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
}
.button:hover,
.button:focus {
  background-color: var(--hover-button-cl);
  cursor: pointer;
}
.li-title {
  font-size: 36px;
  line-height: calc(40 / 36);
}
.li-list {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}
.txt {
  line-height: calc(24 / 16);
  color: var(--secondary-txt-cl);
}
.h-h {
  text-align: center;
}
.our-team {
  background-color: var(--secondary-bg-cl);
}
.team {
  background-color: var(--team-bg-cl);
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--primary-bg-cl);
  color: var(--footer-txt-cl);
}
.txt-foot {
  line-height: calc(24 / 16);
}
.footer-logo {
  color: var(--footer-txt-cl);
}
/* PORTFOLIO */
.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  background-color: var(--secondary-bg-cl);
  color: var(--logo-txt-cl);
  border: 1px solid var(--hero-txt-cl);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--hero-txt-cl);
  background-color: var(--hover-button-cl);
  cursor: pointer;
}
